@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome To Prinja Car Yard.</b></h1>
    <b><p1>
        “Well where do i start …. ive been going to these guys coming up 17 years in December and aways fantastic… had a couple of different sales men over the years current …Corey and theres no muck arounds he knows what we want and makes it all easy :) really cant sing these Guys and Gals praises enough…. as a VIP of theirs the best in hamilton!!! Cheers Guys and Gals.”

        — Ness Tarrant
        “We are part of the 4Guys family and that’s exactly how it feels when you buy a car from this amazing lot. When you talk its a ‘get to know you chat’, a bit of friendly banter. We have purchased three cars for wife, hubby and first time car for eldest daughter. We were listened to and the best deals found for us. We will always recommend 4Guys Autobarn for anyone looking for a vehicle.”

        — Donna Chugg
        “We just bought a Nissan Murano from 4guys. Great trade  price for my old car & the support we received is awesome. 8 months after my partner bought her car you are still offering support. This is very rare from car dealers in my past experience as once I’ve signed papers other dealer don’t want to know you.  You guys have awesome integrity would recommend you to everyone I know.”

        — Michael Baird
    </p1></b>
</div>
